---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Alex Dollard</div>
    <div class="text-3xl py-3 font-bold">Web Developer and Blogger</div>
    <div class="py-2">
      <text class="text-lg">
        I love writing for myself and building things for other people. Or is it
        the other way around?
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://thisweekinalex.town" target="_blank">
        Check out my blog!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest projects</div>
  </div>

  <HorizontalCard
    title="George Gallery Art"
    img="/georgegallery.png"
    desc="A site I built for the wonderful George Gallery Art in Charleston, SC. Built with Wordpress"
    url="https://www.georgegalleryart.com"
    badge="LIVE"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="This Week in AlexTown"
    img="/TWAT.png"
    desc="Personal blog, built from scratch with React, Gatsby, and Sanity.io. Where I post my ramblings."
    url="https://www.thisweekinalex.town"
    badge="LIVE"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Writing Samples</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
